#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 500px;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0;
}

.swiper-slide .text {
    font-size: 1rem;
    max-width: 400px;
    line-height: 1.6;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    color: #fff;
}
@media (max-width: 767px) {
    .swiper {
        width: 100%;
        height: 50%;
    }
    .swiper-slide .text {
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
    }
    .swiper-slide .title {
        font-size: 1.2rem;
    }
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        font-size: 1.5rem;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 1.5rem;
    }
}
